@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: rgb(42 187 197);
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
  position: absolute;
  place-content: center;
  width: 100%
}
.line-grad{
  left: calc(0px + 0px);
  top: 9px;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 673px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 6px;
    width: calc(100% - 15px);
    max-height: 270px;
  }
}
.login {
  font-size: 26px;
  font-weight: 900;
  margin: -11px 40px 0px;
}
.eula {
  color: #607D8B;
    font-size: 14px;
    line-height: 1.5;
    margin: 4px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 100%;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  
}

.ubication-user{
  animation-name: llenarLineaUser;
  animation-duration: 1s;
  stroke-dasharray: 240 1386;
}

@keyframes llenarLineaUser {
  0%   {stroke-dasharray: 1 1386;}
  25%  {stroke-dasharray: 50 1386;}
  50%  {stroke-dasharray: 100 1386;}
  100% {stroke-dasharray: 240 1386;}
}
.ubication-pass{
  animation-name: llenarLineaPass;
  animation-duration: 1s;
  stroke-dasharray: 0 266 337 1386;
}

@keyframes llenarLineaPass {
  0%   {stroke-dasharray: 0 266 73 1386;}
  25%  {stroke-dasharray: 0 266 253 1386;}
  50%  {stroke-dasharray: 0 266 293 1386;}
  100% {stroke-dasharray: 0 266 337 1386;}
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent !important;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

.box-btn-login{
  margin-top: 36px;
}

.btn-primary{
  width: 160px;
  box-shadow: 1px 1px 5px #7e7e7e;
}

#error{
  position: absolute; 
  z-index: 3000;
  top: -11px;
  width: 100%;
  padding: 6px;
}