html, body {
    height: 100%;
}

body { margin: 0 }

footer{
    text-align: center;
    padding: 0px;
    background-color: #060606;
    color: white;
    position: sticky;
    bottom: 0px;

    p{
        font-size: 11px;

        a{
            color: #3ba0a7;
            font-weight: bold;
            font-size: 14px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}